In [3]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import talib
import warnings
warnings.filterwarnings('ignore')

In [6]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

In [8]:
sp500['Symbol'] = sp500['Symbol'].str.replace('.','-')
symbols_list = sp500['Symbol'].unique().tolist()

In [11]:
end_date = '2025-06-1'
start_date = pd.to_datetime(end_date) - pd.DateOffset(365*8)

In [16]:
df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date)

[*********************100%***********************]  503 of 503 completed

In [20]:
df = df.stack()

In [22]:
df.index.names= ['date','ticker']

In [24]:
df.columns = df.columns.str.lower()

In [25]:
df

Price                   close        high         low        open       volume
date       ticker
2017-06-05 A        56.733013   57.146299   56.667263   57.108726    1473300.0
           AAPL     35.854843   35.975967   35.745370   35.950345  101326800.0
           ABBV     47.947407   48.195985   47.499960   47.762746    4918100.0
           ABT      40.446320   40.559105   40.238104   40.402942    7810600.0
           ACGL     31.167286   31.420855   31.094383   31.249697    2004900.0
...                       ...         ...         ...         ...          ...
2025-05-30 XYL     126.040001  126.690002  125.199997  126.519997    2624100.0
           YUM     143.940002  144.479996  143.089996  144.039993    3184400.0
           ZBH      91.931602   92.799355   91.203495   92.699615    3505200.0
           ZBRA    289.769989  290.559998  283.920013  289.929993     656100.0
           ZTS     168.630005  169.789993  165.339996  166.919998    5467800.0

[989599 rows x 5 columns]